.base-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    row-gap: 80px;
}

.base-list__item {
    min-width: 200px; 
    text-align: center;
}

.base-list__link {
    filter: grayscale(100%);
}

.base-list__link:hover {
    filter: grayscale(0);
    transition: filter .3s;
}
