.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__link {
    font-size: 13px;
}

.dropdown:hover .dropdown__link {
    text-decoration: none;
}

.dropdown:hover .dropdown__menu {
    left: -50px;
    opacity: 1;
}

.dropdown__menu {
    position: absolute;
    background: #CDD1D2;
    border-radius: 5px;
    padding: 10px;
    width: 145px;
    top: 100%;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .4s;
    left: -9999px;
    height: 60px;
}

.dropdown__menu:before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.dropdown__triangle {
    position: absolute;
    top:-15px;
    left: 90px;
    border: 11px solid transparent;
    width: 0px;
    height: 0px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-color: #CDD1D2;
    border-top-width: 5px;
}

.dropdown__time {
    font-size: 13px;
    font-weight: bold;
    color: #1E1F20;
    text-align: left;
    margin-bottom: 3px;
}

.dropdown__lunch {
    font-size: 13px;
    color: #1E1F20;
    text-align: left;
}