.pager {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pager__display {
    margin-right: 25px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pager__item_active .pager__link {
    background: #fff;
    color:#F5170E;
}

.pager__link:hover {
    background: #fff;
    color:#F5170E;
    transition: all .2s;
}

.pager__theme_red {
    color: #000;
}

.pager__theme_red .pager__item_active .pager__link {
    color: #fff;
    background-color: #F5170E;
}

.pager__theme_red .pager__link:hover {
    color: #fff;
    background-color: #F5170E;
    transition: all .2s;

}