.services {
    margin-bottom: 69px;
}

.service {
    display: flex;
    padding: 58px 43px;
    text-decoration: none;
}

.service:hover {
    background: #f4f5f5;
}

.service:hover .service__btn{
    background: #F5170E;
    color: #fff;
}

.service__img {
    margin-right: 7%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    color: #000;
}

.service__desc {
    line-height: 1.7;
    color: #303030;
    margin-bottom: 34px;
}