.socials {
   margin-right: 74px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: no-repeat;
    position: relative;
}

.socials__item_icon_telegram .socials__link:hover:before {
    opacity: 1;
}

.socials__item_icon_telegram .socials__link:hover:after {
    opacity: 0;
}

.socials__item_icon_telegram .socials__link::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -66px -66px;
    transition: .3s;
}

.socials__item_icon_telegram .socials__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -122px -66px;
    opacity: 0;
    transition: .3s;
}

.socials__item_icon_vk .socials__link:hover:before {
    opacity: 1;
}

.socials__item_icon_vk .socials__link:hover:after {
    opacity: 0;
}

.socials__item_icon_vk .socials__link::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -66px -122px;;
    transition: .3s;
}

.socials__item_icon_vk .socials__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -10px -122px;;
    opacity: 0;
    transition: .3s;
}

.socials__item_icon_fb .socials__link:hover:before {
    opacity: 1;
}

.socials__item_icon_fb .socials__link:hover:after {
    opacity: 0;
}

.socials__item_icon_fb .socials__link::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -10px -10px;
    transition: .3s;
}

.socials__item_icon_fb .socials__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -66px -10px;
    opacity: 0;
    transition: .3s;
}

.socials__item_icon_insta .socials__link:hover:before {
    opacity: 1;
}

.socials__item_icon_insta .socials__link:hover:after {
    opacity: 0;
}

.socials__item_icon_insta .socials__link::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -10px -66px;
    transition: .3s;
}

.socials__item_icon_insta .socials__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../img/sprite.png') -122px -10px;
    opacity: 0;
    transition: .3s;
}

